.page[b-dnwo4ezw85] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dnwo4ezw85] {
    flex: 1;
}

.augsidebar[b-dnwo4ezw85] {
    background: none;
	width: 280px;
	height: 50vh;
	position: absolute;
	top: 0;
}

.sidebar[b-dnwo4ezw85] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dnwo4ezw85] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dnwo4ezw85]  a, .top-row[b-dnwo4ezw85]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-dnwo4ezw85]  a:hover, .top-row[b-dnwo4ezw85]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-dnwo4ezw85]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dnwo4ezw85] {
        display: none;
    }

    .top-row.auth[b-dnwo4ezw85] {
        justify-content: space-between;
    }

    .top-row[b-dnwo4ezw85]  a, .top-row[b-dnwo4ezw85]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dnwo4ezw85] {
        flex-direction: row;
    }

    .sidebar[b-dnwo4ezw85] {
        width: 250px;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .top-row[b-dnwo4ezw85] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-dnwo4ezw85]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-dnwo4ezw85], article[b-dnwo4ezw85] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

div.augpanel[b-dnwo4ezw85] {
    font-family: Tomorrow;
    text-transform: capitalize;
    font-variant: small-caps;
    position: relative;
    width: 99.2%;
    margin-top: 10px;
    height: 98vh;
    margin-left: 10px;
    color:var(--myblue);
    --aug-tr: 60px;
    --aug-br: 60px;
    --aug-tl: 268px;
    --aug-bl: 40px;
    --aug-border-bg: linear-gradient(165deg, #969696 0%,#626262 7%,#ababab 10%,#ababab 20%,#626262 25%,#626262 29%,#ababab 32%,#626262 34%,#ababab 40%,#626262 44%,#626262 50%,#969696 55%,#969696 65%,#626262 70%,#626262 70%,#626262 75%,#969696 80%,#969696 90%,#626262 95%,#626262 95%);
    --aug-border-all: 15px;
    --aug-inlay-all: 0px;
    --aug-inlay-opacity: 100;
    --aug-inlay-bg: black;
    --aug-tl2: 40px;
    --aug-tl1: 250px;
    --aug-tl-extend1: 225px;
    --aug-tl-inset2: 0px;
}
